@media only screen and (max-width: 900px) {
  #navbar {
    position: inherit;
  }

  .insideContainer div {
    width: 100%;
  }

  .insideContainer > p {
    display: none;
  }

  .insideContainer .text-container p {
    display: block;
  }

  .insideContainer:nth-child(3) {
    display: block;
  }

  .insideContainer.mid .Commissions {
    display: none !important;
  }
  
  .insideContainer.bot .Commissions {
    display: block !important;
  }
}