#modalContainer #WorksModal {
  background: #D2D8B3;
  color: #272727;
}

#modalContainer #WorksModal * {
  margin: 0;
  padding: 0;
}

#modalContainer #WorksModal .detailed {
  width: 80% !important;
  margin: 0 auto !important;
  text-align: left;
}

#modalContainer #WorksModal .cardContainer {
  width: 80% !important;
  margin: 1rem auto !important;
  text-align: center !important;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
}

#modalContainer #WorksModal .cardContainer .WorkCard {
  width: 100%;

  background: #272727;
  color: whitesmoke;

  padding: 1rem;
  border-radius: 1rem;
}

#modalContainer #WorksModal .cardContainer .evCard {
  background: whitesmoke;
  border-radius: 1rem;
}

#modalContainer #WorksModal .cardContainer .evCard .cardHeading {
  height: 22vh;
  border-radius: 1rem;

  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

#modalContainer #WorksModal .cardContainer .evCard .cardBody {
  width: 80%;
  margin: 0 auto;
  padding: 1rem 0;
}

#modalContainer #WorksModal .cardContainer div:hover {
  transform: scale(.95);
}