#modalContainer #AboutModal {
  background: #EFD09E;
  color: #272727;
}

#modalContainer #AboutModal * {
  margin: 0;
  padding: 0;
}

#modalContainer #AboutModal .detailed {
  width: 80% !important;
  margin: 0 auto !important;
  text-align: left;
}

#modalContainer #AboutModal ul {
  text-align: left;
  margin-left: 2rem;
}

#modalContainer #AboutModal .buttonBox {
  width: 100%;
  margin: 1rem 0;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: .5rem;

  justify-content: center;
  text-align: center;
}

#modalContainer #AboutModal .buttonBox p {
  width: auto;
  padding: .25rem;
  background-color: #272727;
  color: whitesmoke;
  border-radius: 10px;
}