#modalContainer #WorksModal {
  background: #D2D8B3;
  color: #272727;
}

#modalContainer #WorksModal * {
  margin: 0;
  padding: 0;
}

#modalContainer #WorksModal .detailed {
  width: 80% !important;
  margin: 0 auto !important;
  text-align: left;
}

#modalContainer #WorksModal .buttonBox {
  width: 100%;
  margin: 1rem 0;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: .5rem;

  justify-content: center;
  text-align: center;
}

#modalContainer #WorksModal .buttonBox p {
  width: auto;
  padding: .25rem;
  background-color: #272727;
  color: whitesmoke;
  border-radius: 10px;
}