#modalContainer #AboutModal {
  background: #EFD09E;
  color: #272727;
}

#modalContainer #AboutModal * {
  margin: 0;
  padding: 0;
}

#modalContainer #AboutModal .detailed {
  width: 80% !important;
  margin: 0 auto !important;
  text-align: left;
}

#modalContainer #AboutModal ul {
  text-align: left;
  margin-left: 2rem;
}